<h2>Create A Session</h2>
<form action="/sessions" method="POST">
  Date: <input type="text" name="date"><br>
  Amount Won: <input type="text" name="amount_won"><br>
  Notes: <input type="textarea" name="notes"><br>

  <input type="submit" value="submit">
</form>
