<h2>Welcome, <%= current_user.username %></h2>
<h3>Here are your current sessions</h3>

<% current_user.sessions.each_with_index do |session, index| %>
<li>
<%= index + 1 %>:</h4>  <a href="/sessions/<%= session.id %>"><%= session.date %></a>

<% end %>

<p>
  Click here to <a href="/sessions/new">Create A New Session</a>
</p>
<p>
  Click here to <a href="/logout">Log Out</a>
</p>
