
<br><br>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h2> Welcome to the best cash game session tracker on the web!!! </h2>
<p>Click here if you want to <a href="/signup">Sign up.</a></p>
<p>Click here if you want to <a href="/login">Log in.</a></p>
